.notification-container {
    position: relative;
}


.notification-count {
    position: absolute;
    top: -5px;
    right: -5px;
    display: inline-block;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #f00;
    border-radius: 50%;
}

.notification-box {
    position: absolute;
    top: 40px;
    right: 0;
    width: 250px;
    max-height: 400px;
    overflow: auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 999;
}

.notification-header {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.notification-message {
    display: flex;
    justify-content: flex-start;   
}

.notification-messageLeft {
    display: flex;
    align-items: center;
    color: black;
    margin-left: 10px;
}

.message-text {
    font-size: 15px;
    font-weight: 300;
    margin: 10px 10px;
}

.time-posted {
    font-size: 12px;
    margin: 10px 10px;
}