.full{
    width: 100%;
    border: 1px solid #F7EFE5;
    padding: 20px;
    background-color: #FFFBF5;
    border-radius: 10px;
}
*{
    box-sizing: border-box;
}
.allfriendslinks{
    display: flex ;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.allfriendslinks span{
    border: 1px solid #F7EFE5;
    padding: 2px ;
    font-size: 10px;
    color: grey;
    border-radius: 5px;
    text-decoration: none;
}
link{
    text-decoration: none;
}
.oneFriend{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #F7EFE5;
    margin: 20px 0px;
    border-radius: 10px;

}

.oneFriend:hover{
    box-shadow: 7px 7px 7px grey;
}

.duopart{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.duopart img{
    width: 70px;
    height: 70px;
    border: 1px solid #F7EFE5;
    border-radius: 50%;
}

.friendsButton{
    display: flex;
    gap: 5px;
}

.friendsButton button{
    background-color: plum;
    padding: 10px;
    outline: none;
    border: 0cap;
}

.part3{
    width: 90%;
    background-color: #FFFBF5;
    border-radius: 10px;
    border: 1px solid #F7EFE5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.follower{
    display: flex;
    align-items: center;
    gap: 20px;
}
 .follower img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.followername{
    display: grid;
    gap: 10px;
}
.followername button{
    background: none;
    outline: none;
    border: 0cap;
    color: purple;
}

.fullyNotify{
    width: 100%;
    background-color: #FFFBF5;
    padding: 20px;
    border: 1px solid #F7EFE5;
    display: grid;
    gap: 15px;
    border-radius: 10px;
}

.oneNotification{
    display: flex;
    gap: 20px;
    border: 1px solid #F7EFE5;
    padding: 15px;
    border-radius: 10px;
}

.oneNotification img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.shortcuts{
    display: flex;
    flex-direction: column;

}

.maincontainer{
    display: grid;
    gap: 20px;
    width: 100%;
}

.cont1{
    grid-column: 1/2;
}
.cont2{
    grid-column: 2/4;
}
.cont3{
    grid-column: 4/5;
}